<div class="container">

  <div class="series-detail" *ngIf="series">
    <div class="row info-text-top">
      <h1>{{ series.name }}</h1>
      <app-follow *ngIf="authService.isLoggedIn()" class="spotlight-button-location" [series]="series" [buttonLabel]="series.following ? 'Unfollow' : 'Follow'"></app-follow>

      <p class="hidden-xs hidden-xm">{{ series.description }}</p>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-3 series-left">

        <img class="img-responsive hidden-xs hidden-sm"
             src="{{ series.poster_image | asUrlPipe : series.unique_name : 'medium'  }}"
             alt="{{ series.name }}"/>

        <div class="series-details-extra">
          <dl>
            <dt> Rating </dt>
            <dd> {{ series.rating }} </dd>
            <dt> First aired </dt>
            <dd> {{ series.firstaired }} </dd>
            <dt> Status </dt>
            <dd> {{ series.status }} </dd>
          </dl>
          <a target="new" href="http://www.imdb.com/title/{{ series.imdb_id }}/">IMDB</a>
        </div>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-9 seasons">
        <tabset *ngIf="tabs" class="ea-tabs">

          <tab *ngFor="let tab of tabs let i = index;"
               [heading]="tab.title"
               (select)="loadTab(i)"
               (deselect)="tab.active = false"
               [disabled]="tab.disabled"
               [removable]="tab.removable"
               (removed)="removeTabHandler(tab)"
               [active]="tab.active">

            <ng-template tabHeading class="tab--test">

                            <span *ngIf="seriesUnseenAmount && seriesUnseenAmount[i] == 0" class="unseen--badge unseen--badge-done">
                                <i class="fa fa-check" aria-hidden="true"></i>
                            </span>

              <span *ngIf="seriesUnseenAmount && seriesUnseenAmount[i] > 0"  class="unseen--badge">
                                {{ seriesUnseenAmount && seriesUnseenAmount[i] }}
                            </span>

            </ng-template>

            <table class="episode-table">
              <tr *ngFor="let episode of tab?.content" [ngClass]="{'seen' : episode.seen }">
                <td class="episode-table-number">{{ episode.episode }}</td>
                <td class="episode-table-description">{{ episode.name }}</td>
                <td>{{ episode.airdate }}</td>
                <td><app-seen [seen]="episode.seen" [episode]="episode" [buttonLabel]="episode.seen ? 'Unsee' : 'Seen'"></app-seen></td>
              </tr>
            </table>
          </tab>
        </tabset>
      </div>

    </div>

    <div class="row">
      <div class="col-xs-7 col-sm-7 col-md-7">

      </div>
    </div>

  </div>
</div>
