@import '../variables';

.myshows--badge{
  position: absolute;
  top: 0px;
  right: 0px;
}



.handle{
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: move;
  display: none;
  font-size: 14px;
  padding: 11px;
}

.profile-series-list{
  width: 100%;

  th{
    padding-bottom: 20px;

    &:hover{
      cursor: pointer;
    }

  }

  td{
    padding: 5px 0px 5px 0px;
  }

  tr:hover .series-indicator{
    display:block;
  }
}

.profile-series{

  text-align: left;
  margin: auto;
  @media(max-width: $screen-sm-max) {
    padding-top: 0px;
  }
  padding-top: 15px;
  padding-left: 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  li:hover .handle {
    display: block;
  }

  li{
    @media(max-width: $screen-sm-max){
      width: 24%;
      padding-bottom: 5px;
      margin-bottom: 5px;
    }

    position: relative;
    width: 11.5%;
    display: inline-block;
    padding-bottom: 15px;
    margin-bottom: 20px;

  }

  a{
    display: block;
  }

  span{
    display: block;
  }

}

.big-poster{
  li{
    @media(max-width: $screen-sm-max) {
      width: 45%;
    }
    width: 15.7%;
  }
}

.title{
  padding: 16px;
  font-size: 90%;
  background-color: $primary-lighter;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.myshows-filters{

  margin-bottom: 24px;

  &-label{
    color: $light-text;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 200;
    letter-spacing: 0.1em;
    margin-right: 10px;
  }

  input{
    @media(max-width: $screen-sm-max) {
      width: 94px;
      padding: 6px 2px 6px 8px;
      font-size: 12px;
    }
    padding: 6px 10px 6px 12px;
    margin: 0px;
    color: #000;
    border: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-image: none;

  }

  .row{
    font-size: 14px;
    background-color: $primary-lighter;
    padding: 20px 0px 20px 0px;
  }

}


.ea-filter{
  @media(max-width: $screen-sm-max) {
    margin-left: 15px;
    font-size: 10px;
  }
  margin-left: 25px;
  background-color: $primary-color;

  .fa{
    @media(max-width: $screen-sm-max) {
      width: 10px;
    }
    width: 18px;
  }

  &:hover,
  &--active{
    color: $bright-highlight;
    border-color: $bright-highlight;
  }

  &-viewtoggle{
    @media(max-width: $screen-sm-max) {
      margin-top: 3px;
      font-size: 8px;
    }
    display: inline-block;
    float: right;
    margin-top: 5px;
    @media(max-width: $screen-sm-max) {
      font-size: 12px;
    }
    font-size: 20px;
    fill: #fff !important;

    :hover{
      fill: $bright-highlight;
      cursor: pointer;

    }
  }
}


.series-indicator{
  position: absolute;
  left: 2px;
  margin-top: 3px;
  display:none;
}
