<div class="container">
  <div class="row">
    <div  class="col-md-12 col-lg-12">
      <p class="user-greeting">
        Hi there and welcome to Episode Alert.
        Please login with your e-mail address and password. If you forgot your password please <a [routerLink]="['/password-recovery']">recover it through this link</a>
      </p>
    </div>
  </div>
</div>

<div class="container">

  <div class="row">
    <div class="col-lg-6">
      <div class="row">
        <div class="col-lg-12">
          <h1>
            Login with your social account
          </h1>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
           <app-google-login-ea></app-google-login-ea>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="row">
        <div class="col-lg-12">
          <h1>
            Login with e-mail and password
          </h1>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">

          <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
            <div class="form-group">
              <input [(ngModel)]="userModel.name" title="enter username" type="text" class="form-control" id="page_name" name="name" placeholder="username" required>
            </div>
            <div class="form-group">
              <input [(ngModel)]="userModel.password" title="enter password" type="password" class="form-control" id="page_password" name="password" placeholder="password" required>
            </div>
            <button type="submit" class="btn btn-ea" [disabled]="!loginForm.form.valid">Login</button>
          </form>


        </div>
      </div>
    </div>
  </div>

</div>
