@import '../../variables';

h1{
  font-size: 125%;
  font-weight: 500;
}

p{
  font-size: 120%;
  font-weight: 400;
  color: #fff;
}

span{
  text-align: center;
  font-size: 80%;
  display: block;
}

button{
  background-color: darken($bright-highlight, 5%) !important;
  width: 280px;
  color: #fff !important;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.10em;
  padding-left: 15px;
  padding-right: 15px;
  height: 50px;
  margin-top: 10px;
}

.welcome-text{
  padding: 20px;
  font-size: 150%;
}

