@import '../../variables';

.user-welcome{
  margin-top: 20px;
  text-align: center;
  height: 100%;

  .ol-wrapper{
    display: inline-block;
    max-width: 75%;
    text-align: center;
  }

  ol {
    margin-top: 10px;
    margin-bottom: 5px;
    display: block;
  }

  li{
    line-height: 160%;
    text-align: left;
    font-size: 16px;
  }

  li::before {
    content: "";
    width: 20px;
    display: inline-block;
  }

  h1{
    font-size: 165%;
    font-weight: 500;
  }

  p{
    font-size: 140%;
    font-weight: 400;
    color: #fff;
  }

  span{
    text-align: center;
    font-size: 120%;
    display: block;
  }

  button{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    background-color: darken($bright-highlight, 5%) !important;
    width: 280px;
    color: #fff !important;
    font-family: "Lato", sans-serif;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.10em;
    padding-left: 15px;
    padding-right: 15px;
    height: 50px;
    display: inline-block;
  }

  .welcome-text{
    padding: 20px;
    font-size: 150%;
  }
}

