<div class="container">  
  <div class="row">
    <div class="col-lg-12">
      <p class="profile-intro">
        Update your profile or change your notification and connected account settings. Need help? Contact us using our <a href="https://www.facebook.com/episodealert/" target="_blank">Facebook Page</a> or send an <a href="" target="blank">email</a>.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="container row-ea">
        <div>
          <tabset class="ea-tabs">
            <tab heading="Profile" id="tab1">
              <p class="tab-text">
                Update your email address, username or password
              </p>
            </tab>
            <tab heading="Notifications">
              <p class="tab-text">
                Update your notifications
              </p>
            </tab>
            <tab heading="Connected accounts">
              <p class="tab-text">
                Add your other accounts
              </p>
            </tab>
          </tabset>
        </div>
      </div>
    </div>
  </div>
</div>