p.profile-intro {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 110%;
    line-height: 1.5;
    letter-spacing: 0.05em;
    color: #C9C9CD;
    padding: 20px 0px 20px 0px;
    margin-bottom: 0px;
}

tab {
    .tab-text {
        padding-top: 10px;
    }
    .tab-align {
        padding-left: 15px;
        padding-right: 15px;
    }
    hr {
        border-top: 1px solid #777777;
    }
    .form-horizontal label.text-left {
        text-align: left;
    }
    .form-control {
        background-color: #363636!important;
        color: #ccc;
        border: 1px solid #363636;
        border-radius: 0;
    }
    .btn-ea {
        height: 37px!important;
    }
}

