@import "~src/app/variables";
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body {
  margin: 0px;
  background-color: #101010;
  color: #C9C9C9;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  overflow-y: scroll;
  min-height: 100%;
}

a {
  color: $bright-highlight;
}

a:hover, a:focus {
  color: $bright-highlight;
}

.row-ea{
  background-color: $dark-grey-background;
}
.nav-tabs{borde-bottom:none}

/* remove the ugly highlight blue from buttons in bootstrap */
.button:active,
button:active,
.button:focus,
button:focus,
.button:hover,
button:hover{
  outline:none !important;
}


/* for router animatinos */
router-outlet ~ * {
  height: 100%;
  width: 100%;
}

.turbo--wrapper{
  min-height: 90vh;
}

.col-centered{
  text-align: center;
}

.section-header {
  height: 40px;
  padding: 8px 0px 10px 15px;
  background-color: #252525;
  font-size: 150%;
}

h1 {
  @media(max-width: $screen-xs-max){ padding-bottom: 10px; }

  border-bottom: 1px solid darken(#C9C9C9, 50%);
  padding-top: 0px;
  padding-bottom: 15px;
  margin-bottom: 20px;
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  color: $light-blue;
  letter-spacing: 0.09em;
}

.top-buffer { margin-top:24px; }
