@import "~src/app/variables";
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body {
  margin: 0px;
  background-color: #101010;
  color: #C9C9C9;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  overflow-y: scroll;
}

a {
  color: $bright-highlight;
}

a:hover, a:focus {
  color: $bright-highlight;
}

.row-ea{
  background-color: $dark-grey-background;
}
