@import '../variables';

.search-wrapper{
  position: relative;
  float: left;
}

.search-results {
  position: absolute;
  z-index: 100;
  width: 402px;
  background-color: #fff;
  height: 580px;
  overflow: scroll;
  top: 50px;
  left: 15px;
  list-style-type: none;
  padding-left: 0px;

  li {
    padding: 20px;
    height: 114px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: $light-grey-text;
    &:hover {
      background-color: lighten($light-grey-background, 0%)
    }
  }

  @media (min-width: $screen-md) and (max-width: $screen-lg) {
    width: 302px;
}

  a {
    font-size: 17px;
    font-weight: 500;
    color: $light-green-text;
  }

  img {
    margin-right: 14px;
    float: left;
    width: 50px;
  }

}

.form-control-search {
  display: block;
  font-family: 'Lato', sans-serif;
  font-size: 17px;
  font-weight: 300;
  padding-left: 15px;
  padding-right: 15px;
  height: 41px;
  min-width: 360px;
  margin-top: -2px;
  color: $light-grey-text;
  background-color: $light-grey-background;
  background-image: none;
  border: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;

  @media (min-width: $screen-md) and (max-width: $screen-lg) {
    min-width: 260px;
  }
}

@media(max-width: $screen-sm-max){
  .form-control-search {
    min-width: 300px;
  }
}

@media (min-width: $screen-sm) and (max-width: $screen-md) {
  .form-control-search {
    min-width: 600px;
  }
}

.btn-search {
  height: 41px;
  margin-top: -2px;
  padding: 0px 15px 0px 15px;
  color: #FFF;
  background-color: #b7b7b7;
  background-image: none;
  border: 0;
  border-radius: 0;
}

.navbar-form {
  margin-bottom: 2px;
  padding-top: 9px;
  margin-top: 2px;
}

